.categories-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #17181d;
    padding: 1rem;
    border-radius: 0.5rem;
}

.category-item{
    border: 2px solid #17181d;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    color: #eef2f4;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.category-item-img{
    width: 20px;
}

.category-item-btn{
    background-color: transparent;
    color: #eef2f4;
    border: none;
}

.category-total-products{
    background-color: #daede9;
    color: #119a7c;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.categories-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.category-item:hover{
    border: 2px solid #17181d;
    background-color: #17181d;
    color: #eef2f4;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 1600px) {
    .categories-container {
      display: none;
    }
}