.category-btn{
    display: none;
    background-color: transparent;
    border: 1px solid aliceblue;
    color: aliceblue;
    padding: 1rem;
    border-radius: 0.5rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1600px) {
    .category-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
    .nav-active{
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        width: 60%;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        z-index: 999;
    }
    .category-mobile{
        width: 50%;
        padding: 0.5rem 1rem;
        border: 2px solid #17181d;
        background-color: transparent;
        color: #eef2f4;
        transition: 0.5s;
        border-radius: 0.5rem;
    }
    .category-item-mobile{
        width: 90%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .vertical-carousel{
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}


