@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'AR One Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #eef2f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
  font-family: 'AR One Sans', sans-serif;
}